@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #fbfaff;
}

.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar {
	background-color: #fbfaff;
}

.navbar__wrapper {
	display: flex;
	justify-content: space-between;
}

.navbar__wrapper > a > img {
	display: block;
	/* vertical-align: middle; */
	align-self: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.navbar__right__wrapper {
	display: flex;
	gap: 40px;
}

.navbar__item {
	display: inline-block;
	height: 100%;
}

.navbar__list:last-child {
	margin-right: 0;
}

.navbar__link {
	height: 100%;
	display: flex;
	align-items: center;
	padding-inline: 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: #4f5362;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar__link:hover {
	background-color: #eeecf5;
	transition: all 0.5s linear;
}

.contact__email {
	display: flex;
	align-items: center;
}

.section {
	position: relative;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

#hero__section {
	min-height: calc(100vh - 70px);
	background: url(./images/img-1.jpg) center / cover no-repeat;
	color: #fff;
	padding-block: 40px;
}

#hero__section::after,
#service-section::after,
#status-section::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(17, 21, 52, 0.85);
	z-index: 10;
}

.hero__content {
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	z-index: 20;
	flex-grow: 1;
}

.hero__heading {
	font-size: 3rem;
}

.break {
	display: block;
}

.hero__buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.btn {
	padding: 12px 26px;
	border-radius: 25px;
	font-size: 0.75rem;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 600;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	text-transform: uppercase;
}

.btn:hover {
	background: #f2b705;
	color: #000;
	transition: all 0.3s linear;
}

.scroll-indicator {
	width: fit-content;
	padding: 25px;
	border-radius: 50%;
}

.hero__scroll-indicator {
	background: rgba(17, 21, 52, 0.2);
	position: relative;
	z-index: 20;
}

.hero__scroll-indicator:hover {
	background-color: rgba(17, 21, 52, 0.3);
	transition: background-color 0.4s linear;
}

.section__wrapper {
	display: flex;
	gap: 40px;
	padding-block: 80px;
	position: relative;
	z-index: 20;
}

.about-section__wrapper {
	flex-wrap: wrap;
	gap: 20px;
}

.section__title {
	font-size: 2.5rem;
	line-height: 45px;
}

.about-section__title {
	margin-bottom: 20px;
	color: #415064;
}

.no-break {
	white-space: nowrap;
}

.about-section__description {
	color: #6b7280;
	line-height: 1.7;
	margin-bottom: 20px;
}

.about-section__content {
	flex: 1;
}

.about-section__feature-item {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
	color: #282d36;
}

.about-section__media {
	flex: 1;
}

.about-section__image {
	width: 100%;
	min-width: min(500px, calc(100vw - 40px));
	object-fit: cover;
	object-position: center;
}

#service-section {
	background: url(./images/img-2.jpg) center / cover no-repeat;
	color: #fff;
}

.service-section__wrapper {
	text-align: center;
	flex-direction: column;
}

.service-section__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

@media (max-width: 768px) {
	.service-section__cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.service-section__cards {
		grid-template-columns: 1fr;
	}
}

.service-card,
.status-card {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #cecdd6;
}

.service-image,
.status-image {
	display: flex;
	padding: 20px;
	width: fit-content;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: rgba(146, 154, 206, 0.15);
}

.service-card__title {
	margin-top: 20px;
	margin-bottom: 10px;
}

.service-card__description {
	font-size: 0.8rem;
	line-height: 20px;
}

.service-order__button {
	width: fit-content;
	margin: 0 auto;
	cursor: pointer;
}

.portfolio-section__wrapper {
	flex-direction: column;
	gap: 10px;
	color: #415064;
}

.portfolio-section__title {
	color: #415064;
	margin-bottom: 20px;
}

.portfolio-section__subtitle {
	color: #626971c8;
	margin-bottom: 50px;
}

.portfolio-section__subtitle--noraml {
	color: #415064;
}

.portfolio-list {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.portfolio-list__item {
	min-width: 70px;
	padding: 20px 10px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}

.portfolio-list__item:hover {
	background-color: #eeecf5;
	transition: background-color 0.5s linear;
}

.portfolio-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(7, 1fr);
	gap: 20px;
}

.portfolio-grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.portfolio-grid-item {
	position: relative;
	padding: 5px;
}

.portfolio-grid-item .project-overley {
	position: absolute;
	inset: 3%;
	background-color: rgba(17, 21, 52, 0.85);
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: #eeecf5;
	cursor: pointer;
}

.project-overley .overley-icon {
	width: fit-content;
	text-align: center;
	aspect-ratio: 1/1;
	border-radius: 50%;
	background-color: #f2b705;
	padding: 5px;
}

.portfolio-grid-item .project-overley:hover {
	opacity: 1;
	transition: opacity 0.4s linear;
}

@media (min-width: 576px) {
	.portfolio-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}

@media (min-width: 768px) {
	.portfolio-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.portfolio-grid-item-1 {
		grid-row: 1/3;
	}

	.portfolio-grid-item-5 {
		grid-row: 2/4;
		grid-column: 3/4;
	}
}

#status-section {
	background: url(./images/img-4.jpg) center / cover no-repeat;
	color: #fff;
}

.status-section__cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
}

.status-card {
	gap: 10px;
}

.status-card:hover {
	color: #ba9219;
	transition: color 0.3s linear;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
	.status-section__cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.status-section__cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.status-section__cards {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
