* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: "Arial", sans-serif;
}

.header {
    height: 10%;
    background: #5fd4e8;
    border-bottom: 10px solid white;
}

.layout {
    height: 80%;
    display: flex;
    border-bottom: 10px solid white;
}

.sidebar {
    width: 25%;
    background: hsl(81, 45%, 60%);
    border-right: 5px solid white;
}

.content-area {
    width: 75%;
    border-left: 5px solid white;
}

.main-content {
    background: #f7cc3b;
    height: 80%;
    border-bottom: 10px solid white;
}

.extra-content {
    background: #9a9a9a;
    height: 20%;
}

.footer {
    height: 10%;
    background: #ffa500;
    
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}