* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 40px auto;
}

.header {
	height: 130px;
	background-color: #ff5fa2;
	margin-bottom: 10px;
}

.main-content {
	display: flow-root;
	margin-bottom: 10px;
}

.left {
	float: left;
	width: 65%;
	min-height: 360px;
	background-color: #ff0080;
	margin-right: 1%;
}

.right {
	float: right;
	width: 34%;
	min-height: 360px;
	background-color: #c4005c;
}

.footer {
	min-height: 130px;
	background-color: #7b2a4d;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
