* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f5f5f5;
}

.container {
	background-color: #fff;
	padding: 40px;
}

.header {
	min-height: 8.125rem;
	background-color: #ff5fa2;
	margin-bottom: 10px;
}

.main-content {
	display: flow-root;
	margin-bottom: 10px;
}

.left {
	float: left;
	width: 65%;
	height: 23rem;
	background-color: #ff0080;
	margin-right: 1%;
}

.right {
	float: right;
	width: 34%;
	height: 23rem;
	background-color: #c4005c;
}

.footer {
	min-height: 8.125rem;
	background-color: #7b2a4d;
}
