@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 40px;
	height: 100vh;
	min-height: 100vh;
	font-family: "Montserrat", sans-serif;
}

main {
	background: #e00000;
	color: white;
	height: 100%;
}

.hero {
	min-height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hero-text {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.hero-heading {
	font-size: 50px;
	font-weight: 200;
}

.hero-paragraph {
	font-size: 20px;
	font-weight: 200;
}

.cards {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.card {
	background-color: #571212;
	padding: 70px 20px;
	min-height: 100%;
	max-width: 1/3;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.card-paragraph {
	color: #8b3c3c;
	font-size: medium;
}

@media (max-width: 900px) {
	body {
		padding: 10px;
		min-height: 100vh;
		height: fit-content;
	}

	main {
		min-height: 100vh;
	}

	.hero {
		flex-direction: column;
	}

	.hero-text {
		max-width: 80%;
		gap: 20px;
	}

	.hero-heading {
		font-size: 40px;
		font-weight: 200;
	}

	.hero-paragraph {
		font-size: 15px;
		font-weight: 200;
	}

	.cards {
		height: fit-content;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
	}
}
