* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.navbar {
	display: flow-root;
	padding: 10px;
	background: #ddd;
}

.navbar__logo {
	float: left;
}

.navbar__menu {
	float: right;
	padding-block: 30px;
}

.navbar__list {
	list-style: none;
}

.navbar__item {
	display: inline-block;
	margin-right: 32px;
}

.navbar__link {
	text-decoration: none;
	color: #195a92;
	font-weight: 400;
	font-size: 1.25rem;
	cursor: pointer;
}

.navbar__link--active {
	background: #000;
	padding: 15px 15px;
	color: #fff;
}

.banner {
	padding-block: 120px;
	background: #059ec1;
	color: white;
	text-align: center;
	display: flow-root;
	font-weight: 900;
}

.banner__title {
	font-size: 50px;
}

.banner__arrow {
	font-size: 50px;
	color: #000;
	cursor: pointer;
}

.banner__arrow--left {
	float: left;
}

.banner__arrow--right {
	float: right;
}

.layout {
	margin: 10px;
}

.layout__left {
	background: #ffe777;
	position: relative;
	display: inline-block;
	width: calc(40% - 10px);
	min-height: 500px;
	margin-right: 10px;
	vertical-align: top;
}

.layout__small-box {
	width: 50%;
	height: 70%;
	background: #d8a7e8;
	position: absolute;
	top: 5%;
	left: -10%;
}

.layout__right {
	width: 58%;
	display: inline-block;
	vertical-align: top;
}

.form {
	background: #e8891b;
	padding: 25px;
	margin-bottom: 10px;
	min-height: 300px;
}

.form__input,
.form__select {
	width: 70%;
	padding: 15px;
	border: white;
	outline: none;
	background: #f9b05a;
	color: white;
	margin-bottom: 16px;
	display: block;
	border: 1px solid white;
}

.form__button {
	padding: 15px 40px;
	background: #f9b05a;
	cursor: pointer;
	font-size: larger;
	margin-top: 5px;
	color: white;
	border: 1px solid white;
}

.layout__right__highlight-box {
	min-height: 190px;
	background: #8ee936;
}

.footer {
	background: #007999;
	text-align: center;
	padding: 40px 20px;
	color: #fff;
	font-size: medium;
}

.footer__list {
	list-style: none;
}

.footer__item {
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid white;
}

.footer__link {
	color: #fff;
	text-decoration: none;
}

.footer__link:last-child {
	border: none;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
